@import "tailwindcss";

@theme {
  --font-antonio: Antonio;
  --font-spartan: Spartan;
  /*  */
}
#root{
  width: 100%;
  height: 100vh;
  background-color: #070724;
  background-image: url('../src/IMAGES/Background.png');
}
.test{
  border: 1px solid rgba(255, 255, 255, .2);
}
.Htest{
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}